.mainTitle{
	text-align: left;
	font-size: 40px;
}

.mainNav{
	width: 80%;
	position: relative;
	margin: auto;
	background-color: #D4D4D4;
}


.am-nav>li>a{
	color: #8C8C8C;
}
.am-nav>li>a:hover{
	color: #D4D4D4;
	background-color: #8C8C8C;
}

.am-nav>li.am-active>a, .am-nav>li.am-active>a:focus, .am-nav>li.am-active>a:hover{
	color: #D4D4D4;
	background-color: #8C8C8C;
}

.am-dropdown-content{
	width: 100%;
	color: #8C8C8C;
}

ul.am-dropdown-content>li>a{
	color: #8C8C8C;
}

ul.am-dropdown-content>.am-active>a, ul.am-dropdown-content>.am-active>a:focus, ul.am-dropdown-content>.am-active>a:hover{
	color: #D4D4D4;
	background-color: #8C8C8C;
}

ul.am-dropdown-content>li>a:focus, ul.am-dropdown-content>li>a:hover{
	color: #D4D4D4;
	background-color: #8C8C8C; 
}

li.am-active > a.mainNavItem{
	color: #D4D4D4;
	background-color: #8C8C8C;
}

li.am-active > a.mainNavItem:hover{
	color: #D4D4D4;
	background-color: #8C8C8C;
}

li.am-active > a.mainNavItem:visited{
	color: #D4D4D4;
	background-color: #8C8C8C;
}

li > a.mainNavItem{
	color: #8C8C8C;
	background-color: #D4D4D4
}

li > a.mainNavItem:hover{
	color: #D4D4D4;
	background-color: #8C8C8C
}
.helpButton{
	position: absolute;
	right: 10%;
	margin-top: 20px;
	background-color: #D4D4D4;
	color: #8C8C8C;
	transition:none;
}

.helpButton:hover{
	color: #D4D4D4;
	background-color: #8C8C8C;
}

#helpModel{
	width: 1000px;
}










