div.search .searchInputSection{
	width: 60%;
	position:relative;
	margin: auto;
	top: 150px;
}

div.search .searchButton{
	width: 50%;
	margin-top: 10px;
}

div.search .button{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#D4D4D4'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C8C8C), to(#D4D4D4)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #8C8C8C, #D4D4D4);/* for firefox 3.6+ */
}


div.search .fixed{
	margin-top: 11px;
}
.am-ucheck-checkbox:checked+.am-ucheck-icons, .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-ucheck-radio:checked+.am-ucheck-icons, .am-ucheck-radio:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons{
	color: #5F9EA0
}

div.search .resultSection{
	width: 80%;
	position:relative;
	margin: auto;
	top:250px;
}

div.search th.tableHeader{
	text-align: center;
	background-color: #D4D4D4;
}

div.search .keyWord{
	border-radius: 5px;
}