table{
	background-color: #D4D4D4;
	height: 70px;
}

table td{
	border: 1px solid white;
}
.evaluation{
	width: 80%;
}

.evaluation button{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#D4D4D4'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C8C8C), to(#D4D4D4)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #8C8C8C, #D4D4D4);/* for firefox 3.6+ */
}

.evaluation button:hover{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F9EA0', endColorstr='#7AC5CD');
	background: -webkit-gradient(linear, left top, left bottom, from(#5F9EA0), to(#7AC5CD));
	background: -moz-linear-gradient(top, #5F9EA0, #7AC5CD);	
}

.evaluation div{
	padding: 0px;
}
.evaluation table td{
	height: 40px;
}

.evaluation table td div{
	height: 0px;
	width: 0px;
}

.evaluation table td div img{
	margin-top: -25px;
}

.evaluation .evaButtonSection div{
	margin: 0px;
}

.evaluation .evaButtonSection .evaButton{
	margin-left: -5px;
	width: 50%;
	font-size: 12px;
}

.evaluation .cancelButton{
	display: none;
	position: absolute;
}
.evaluation .functionInput{
	width: 300px;	
	display: none;
	position: absolute;
}

.evaluation .idHistorySection{
	height: 100px;
}

.evaluation li.inputField{
	height: 100px;
}

.evaluation .typeDetail{
	display: none;
	position: absolute;
}


.evaluation .idRadio{
	width: 50%;
	position: relative;
	margin: auto;
}

